 <ion-header>
  <ion-toolbar>
    <ion-title>Pessoas</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="primary" padding>
  <ion-list>
    <ion-item-sliding *ngFor="let pessoa of pessoas">
      <ion-item>



        <ion-label class="ion-text-wrap">
          <ion-text color="primary">
            <h3>{{ pessoa.nome | uppercase }}</h3>
          </ion-text>
          <p>{{ pessoa.cpf }}</p>
          <ion-text color="secondary">
            <p>{{ pessoa.nascimento | date: 'dd/MM/yyyy' }}</p>
          </ion-text>
        </ion-label>

        
      </ion-item>
      <ion-item-options side="end">
        <button ion-button color="secondary" (click)="edit(pessoa)">
          <ion-icon name="create"></ion-icon>
        </button>
        <button ion-button color="danger" (click)="remove(pessoa)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

 <br><br>

  <ion-fab bottom right side="end">
    <button ion-fab color="primary" (click)="add()">
      <ion-icon name="add"></ion-icon>
      Adicionar
    </button>
  </ion-fab>


</ion-content>